## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [78]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [79]:
df1 = pd.read_csv('gasolina_2000+.csv', index_col=0)
df2 = pd.read_csv('gasolina_2010+.csv', index_col=0)
df = pd.concat([df1, df2])

C:\Users\IgorSiqueira\AppData\Local\Temp\ipykernel_20412\87090878.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('gasolina_2010+.csv', index_col=0)

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [80]:
# df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [81]:
type(df['DATA INICIAL'][2])

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [82]:
df['DATA INICIAL'] = pd.to_datetime(df['DATA INICIAL'])
df['DATA FINAL'] = pd.to_datetime(df['DATA FINAL'])

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [83]:
df['ANO-MES'] = df['DATA FINAL'].apply(lambda x: '{}'.format(x.year)) + df['DATA FINAL'].apply(lambda x: '/{:02d}'.format(x.month))

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [84]:
df.columns

Index(['DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
       'ANO-MES'],
      dtype='object')

In [85]:
df['PRODUTO'].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [86]:
df_gascomum = df[df['PRODUTO'] == 'GASOLINA COMUM']

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [87]:
df[df['ANO-MES'] == '2008/08']['PREÇO MÉDIO REVENDA'].mean()

9.300789303079416

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [88]:
df[(df['ANO-MES'] == '2014/05') & (df['ESTADO'] == 'SAO PAULO')]['PREÇO MÉDIO REVENDA'].mean()

8.920766666666669

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [89]:
df[df['PREÇO MÉDIO REVENDA'] > 5][['ESTADO', 'ANO-MES', 'PREÇO MÉDIO REVENDA']]

                    ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
24132     DISTRITO FEDERAL  2004/05               33.989
24133                GOIAS  2004/05               30.335
24134          MATO GROSSO  2004/05               38.568
24135   MATO GROSSO DO SUL  2004/05               33.388
24136              ALAGOAS  2004/05               32.391
...                    ...      ...                  ...
120750           SAO PAULO  2021/05               85.340
120751             SERGIPE  2021/05               83.508
120752           TOCANTINS  2021/05               93.867
120769                ACRE  2021/05                5.550
120796                ACRE  2021/05                5.209

[24304 rows x 3 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [90]:
df_aux = df[df['DATA FINAL'].apply(lambda x: x.year) == 2012]
df_aux[df_aux['REGIÃO'] == 'SUL']['PREÇO MÉDIO REVENDA'].mean()

9.842052564102564

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [91]:
df['MES'] = df['DATA FINAL'].apply(lambda x: x.month)
df_rio = df[df['ESTADO'] == 'RIO DE JANEIRO']

In [92]:
df_month_rio = df_rio.groupby('ANO-MES')[['PREÇO MÉDIO REVENDA', 'MES']].last()

In [93]:
(df_month_rio[df_month_rio['MES'] == 12] / df_month_rio[df_month_rio['MES'] == 12].shift(1) - 1) * 100

         PREÇO MÉDIO REVENDA  MES
ANO-MES
2004/12                  NaN  NaN
2005/12            12.338063  0.0
2006/12            -0.878638  0.0
2007/12             0.720222  0.0
2008/12            14.466447  0.0
2009/12            -4.949543  0.0
2010/12             0.202224  0.0
2011/12             1.261352  0.0
2012/12             5.630294  0.0
2013/12           -21.084906  0.0
2014/12             7.770472  0.0
2015/12            17.304493  0.0
2016/12            -2.269504  0.0
2017/12             9.869376  0.0
2018/12            35.358873  0.0
2019/12            24.951204  0.0
2020/12            -1.483989  0.0